@import "vars";
@import "fonts";

@media (max-width: 1470px){
	.slider__wrapper{
		.slick-prev{
			left: 11%;
		}
		.slick-next{
			right: 11%;
		}
	}
}
@media (max-width: 1366px){
	.slider__wrapper{
		.slick-prev{
			left: 8.4%;
		}
		.slick-next{
			right: 8.4%;
		}
	}
}
@media (max-width: 1275px){
	.slider__wrapper{
		.slick-prev{
			left: 5.4%;
		}
		.slick-next{
			right: 5.4%;
		}
	}
}
@media (max-width: 1250px){
	.slider__wrapper{
		.slick-prev{
			left: 4.5%;
		}
		.slick-next{
			right: 4.5%;
		}
	}
}
@media (max-width: 1199px){
	.slider__wrapper{
		.slick-prev{
			left: 11.2%;
		}
		.slick-next{
			right: 11.2%;
		}
	}
	.item-title{
		font-size: 14px;
	}
	.consultation__bg{
		padding-top: 145px;
	}
	.form__position{
		.form__right{
			textarea{
				width: 400px;
			}
		}
	}
	.slider__img{
		img{
			width: 100%;			
		}
	}
	.advantages__text.adv__t{
		margin-top: 20px;
	}
	.news__btn {
		margin-left: 198px;
	}
	.slider__wrapper-news{
		.slick__btn-news{
			bottom: -14%;
		}
		.slick-news-prev {
			left: 78%;
		}
	}
	.footer__map{ 
		iframe{
			width: 500px;
			height: 330px;
		}
	}
}
@media (max-width: 1125px){
	.item-title{
		font-size: 14px;
	}
	.slider__wrapper{
		.slick-prev{
			left: 8.8%;
		}
		.slick-next{
			right: 8.8%;
		}
	}
}
@media (max-width: 1066px){
	.slider__wrapper{
		.slick-prev{
			left: 6.7%;
		}
		.slick-next{
			right: 6.7%;
		}
	}
}
@media (max-width: 1000px){
	.slider__wrapper{
		.slick-prev{
			left: 3.7%;
		}
		.slick-next{
			right: 3.7%;
		}
	}
}
@media (max-width: 991px){
	.slider__item{
		max-width: 612px;
	}
	.slider__title{
		font-size: 25px;
	}
	.slider__text{
		font-size: 16px;
	}
	.slider__wrapper{
		.slick-prev{
			left: 15.3%;
		}
		.slick-next{
			right: 15.3%;
		}
	}
	.services__btn{
		padding-right: 0;
		a{
			padding: 7px 14px;
		}
	}
	.item-title{
		font-size: 12px;
		font-weight: 550;
	}
	.item-link{
		a{
			position: absolute;
			bottom: 20%;
			left: 50%;
			transform: translateX(-50%);
			line-height: 10px;
		}
	}
	.item-bottom{
		margin-right: 15px;
		
	}
	.item-bottom.service-2{
		margin-top: 82px;
	}
	.consultation{
		padding-bottom: 45px;
	}
	.consultation__bg{
		display: none;
	}
	.advantages{
		padding-top: 85px;
	}
	.advantages__inner{
		.advantages__title{
			font-size: 16px;
			&:before{
				top: -25%;
			}
		}
	}
	.news__text{
		padding-right: 5px;
		width: 368px;
	}
	.news__btn{
		margin-left: 0;
	}
	.slider__wrapper-top{
		padding-bottom: 0px;
	}
	.slider__wrapper-news{
		margin-bottom: 100px;
	}
	.slider__wrapper-news{
		.slick__btn-news{
			bottom: -18%;
		}
		.slick-news-prev{
			left: 40%;
		}
		.slick-news-next{
			right: 40%;
		}
	}
	.footer__map{
		padding-left: 0;
		iframe{
			width: 100%;
			height: 380px;
		}
	}
	.footer__btn button {
		line-height: 18px;
		&:before {
			top: 14px;
		}
	}
}
@media (max-width: 960px){
	.slider__wrapper{
		.slick-prev{
			left: 14.3%;
		}
		.slick-next{
			right: 14.3%;
		}
	}
}	
@media (max-width: 900px){
	.slider__wrapper{
		.slick-prev{
			left: 11.9%;
		}
		.slick-next{
			right: 11.9%;
		}
	}
}	
@media (max-width: 875px){
	.slider__wrapper{
		.slick-prev{
			left: 10.7%;
		}
		.slick-next{
			right: 10.7%;
		}
	}
}	
@media (max-width: 850px){
	.slider__wrapper{
		.slick-prev{
			left: 9.7%;
		}
		.slick-next{
			right: 9.7%;
		}
	}
}
@media (max-width: 825px){
	.slider__wrapper{
		.slick-prev{
			left: 8.4%;
		}
		.slick-next{
			right: 8.4%;
		}
	}
}
@media (max-width: 800px){
	.slider__wrapper{
		.slick-prev{
			left: 7.3%;
		}
		.slick-next{
			right: 7.3%;
		}
	}
}
@media (max-width: 775px){
	.slider__wrapper{
		.slick-prev{
			left: 5.7%;
		}
		.slick-next{
			right: 5.7%;
		}
	}
}				
@media (max-width: 767px){
	.header__phone{
		font-size: 13px;
		padding-left: 20px;
		padding-right: 12px;
	}
	.header__email{
		a{
			font-size: 13px;
			padding-left: 20px;
		}
	}
	.header__top-btn  {
		button{
			line-height: 30px;
			padding-top: 8px;
			padding-bottom: 7px;
			padding-left: 25px;
			padding-right: 2px;
			font-size: 14px;
			&:before {
				left: 2px;
				top: 7px;
			}
		}
	}
	.menu{
		ul{
			display: none;
			position: absolute;
			z-index: 1;
			top: 138px;
			left: 0;
			right: 0;
			text-align: center;
			background-color: $orange;
		}
		li{
			display: block;
			& + li{
				padding-left: 0;
			}
						&:hover{
				background-color: #fff;
			}
		}	
		a{
			display: block;
			padding: 10px 0;
		}
	} 
	.menu__btn{
		padding: 11px;
		margin-top: 32px;
		background-color: $orange;
		display: block;
		border: none;
		outline: none;
	}
	.slider__wrapper{
		.slick-btn{
			top: 66%;
		}
		.slick-prev{
			left: 16.9%;
		}
		.slick-next{
			right: 16.9%;
		}
	}
	.services__line{
		display: none;
	}
	.services__wrapper{
		margin-left: 0;
		.services__text{
			padding-right: 5px;
		}
	}
	.services__btn{
		padding-right: 0;
		text-align: center;
	}
	.item{
		margin-top: 15px;
		justify-content: center;
	}	
	.item-inner{
		margin-top: 20px;
	}
	.item-bottom {
		margin-right: 33px;
	}
	.item-bottom.service-2{
		margin-top: 64px;
	}
	.form__position{
		.form__left{
			input{
				width: 508px;
			}
		}
	}
	.form__right{
		display: none;
	}
	.form__position-bottom{
		.position__bottom-left{
			display: none;
		}
	}
	.advantages{
		height: 530px;
	}
	.advantages-top{
		justify-content: center;
	}
	.advantages__inner{
		.advantages__title{
			&:before{
				top: -45px;
			}
		}
	}
	.advantages__text{
		margin-bottom: 70px;
	}
	.news-line{
		display: none;
	}
	.news__wrapper {
		margin-left: 0px; 
		.news__text {
			width: 328px;
		}
	}
	.slider__wrapper-news{
		.slick__btn-news{
			bottom: -15%;
		}
	}
}
@media (max-width: 740px){
	.slider__wrapper{
		.slick-prev{
			left: 15.7%;
		}
		.slick-next{
			right: 15.7%;
		}
	}
}
@media (max-width: 715px){
	.slider__wrapper{
		.slick-prev{
			left: 14.8%;
		}
		.slick-next{
			right: 14.8%;
		}
	}
}
@media (max-width: 700px){
	.slider__wrapper{
		.slick-prev{
			left: 13.8%;
		}
		.slick-next{
			right: 13.8%;
		}
	}
}
@media (max-width: 675px){
	.slider__wrapper{
		.slick-prev{
			left: 12.5%;
		}
		.slick-next{
			right: 12.5%;
		}
	}
}
@media (max-width: 650px){
	.slider__wrapper{
		.slick-prev{
			left: 11%;
		}
		.slick-next{
			right: 11%;
		}
	}
}
@media (max-width: 625px){
	.slider__wrapper{
		.slick-prev{
			left: 9.5%;
		}
		.slick-next{
			right: 9.5%;
		}
	}
}
@media (max-width: 600px){
	.slider__wrapper{
		.slick-prev{
			left: 7.7%;
		}
		.slick-next{
			right: 7.7%;
		}
	}
}
@media (max-width: 575px){
	.slider__item{
		max-width: 500px;
	}
	.slider__wrapper{
		.slick-prev{
			left: 2.7%;
		}
		.slick-next{
			right: 2.7%;
		}
	}
	.services__wrapper{
		.services__text{
			max-width: 100%;
			width: 100%;
		}
	}
	.services__btn{
		padding-right: 0;
		text-align: center;
	}
	.item-link{ 
		a{
			bottom: 13%;
			left: 20%;
		}
	}
	.item-bottom.service-1,
	.item-bottom.service-2{
		margin-top: 0px;
	}
	.consultation{
		.consultation__line{
			display: none;
		}
		.consultation__text{
			margin-left: 0px;
			width: 100%;
			text-align: center;
		}
	}
	.consultation__wrapper{
		justify-content: center;
	}
	.form__position{
		justify-content: center;
		.form__left{
			input{
				width: 100%;
			}
		}
	}
	.form__position-bottom{
		justify-content: center;
		.consultation__btn {
			margin-right: 17px;
		}
	}
	.advantages__text{
		line-height: 20px;
	}
	.news__wrapper{
		.news__text{ 
			width: 100%;
		}
	}
	.news__btn{
		a{
			text-align: center;
		}
	}
	.footer__title{
		text-align: center;
	}
	.footer__text{
		text-align: center;
	}
	.footer__btn{
		text-align: center;
	}	
	.footer__btn{
		button{
			&:before{
				top: 6px;
			}
		}
	}
	.footer__map{
		iframe{
			height: 300px;
		}
		padding-top: 0px;
	}
}
@media (max-width: 570px){
	.item-bottom.service-1 {
		margin-top: 64px;
	}
}
@media (max-width: 568px){
	.item-bottom.service-3 {
		margin-top: -19px;
	}
}
@media (max-width: 540px){
	.header__top-btn  {
		button{
			width: 130px;
			line-height: 15px;
			padding-left: 25px;
			padding-right: 0px;
			&:before{
				left: 9px;
				top: 16px;
			}
		}
	}
}
@media (max-width: 535px){
	.item-bottom.service-1 {
		margin-top: 64px;
	}
}
@media (max-width: 533px){
	.item-bottom.service-2 {
		margin-top: -19px;
	}
}
@media (max-width: 512px){
	.item-bottom {
		margin-right: 22px;
	}
}
@media (max-width: 505px){
	.item-bottom.service-2 {
		margin-top: -18px;
	}
}
@media (max-width: 499px){
	.slider__wrapper-news{
		.slick__btn-news{
			bottom: -14%;
		}
	}
}
@media (max-width: 480px){
	.slider__bg-1{
		padding: 80px 0 80px 0;
	}
	.slider__bg-2{
		padding: 80px 0 80px 0;
	}
	.slider__wrapper{
		.slick-dots{
			position: absolute;
			top: 90%;
			left: 50%;
			transform: translate(-50%, -50%);
			li{
				display: inline-block;
			}
			button{
				width: 7px;
				height: 7px;
				border-radius:  50%;
				font-size: 0;
				background-color: #ccc;
				padding: 0;
				margin-left: 3px;
				margin-right: 3px;
				outline: none;
				border: 1px solid transparent;
				cursor: pointer;
			}
			.slick-active{ 
				button{
					border: 1px solid #ccc;
					background-color: transparent;
					box-sizing: content-box;
				}
			}
		}
	}
	.slider__wrapper-news{
		.slick-dots{
			position: absolute;
			top: 95%;
			left: 50%;
			transform: translate(-50%, -50%);
			li{
				display: inline-block;
			}
			button{
				width: 7px;
				height: 7px;
				border-radius:  50%;
				font-size: 0;
				background-color: #ccc;
				padding: 0;
				margin-left: 3px;
				margin-right: 3px;
				outline: none;
				border: 1px solid transparent;
				cursor: pointer;
			}
			.slick-active{ 
				button{
					border: 1px solid #ccc;
					background-color: transparent;
					box-sizing: content-box;
				}
			}
		}
	}	
}
@media (max-width: 472px){
	.header__phone{
		font-size: 1px;
		padding-left: 0px;
		padding-right: 30px;
		color: transparent;
		&:hover{
			color: transparent;
		}
	}
	.header__email{
		a{
			font-size: 1px;
			padding-left: 0px;
			padding-right: 30px;
			&:hover{
				color: transparent;
			}
			&:before{
				top: -5px;
				&:hover{
					color: transparent;
				}
			}

		}
	}
	.news__btn{
		margin-top: 35px;
	}
}	
@media (max-width: 466px){
	.advantages{
		height: 550px;
	}
}
@media (max-width: 457px){
	.item-bottom.service-1 {
		margin-top: -18px;
	}
}
@media (max-width: 439px){
	.item-bottom.service-3 {
		margin-top: -37px;
	}
}
@media (max-width: 403px){
	.item-bottom.service-2 {
		margin-top: -37px;
	}
}

@media (max-width: 373px){
	.services__btn{
		margin-top: 30px;
	}
	.news__btn{
		margin-top: 45px;
	}
}
@media (max-width: 369px){
	.advantages{
		height: 560px;
	}
	.advantages__inner {
		.advantages__title {
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 20px
		}
	}
	.advantages__text{
		line-height: 25px;
	}
}
@media (max-width: 365px){
	.slider__title{
		font-size: 20px;
	}
	.slider__text{
		font-size: 14px;
	}
}
@media (max-width: 355px){
	.item-link a {
		bottom: 25%;
		left: 50%;
	}
	.item-bottom.service-1, 
	.item-bottom.service-3{
		margin-top: 80px;
		margin-right: 75px;
	}
	.item-bottom.service-2{
		margin-top: 0px;
		margin-right: 75px;
	}
	.advantages__text{
		line-height: 20px;
	}
	.news__btn{
		margin-top: 70px;
	}
}
@media (max-width: 350px){
	.services__btn{
		margin-top: 43px;
	}
}
@media (max-width: 338px){
	.advantages{
		height: 590px;
	}
}
@media (max-width: 335px){
	.item-bottom.service-1, 
	.item-bottom.service-3{
		margin-right: 60px;
	}
	.item-bottom.service-2{
		margin-right: 60px;
	}
}							
@media (max-width: 329px){
	.item-bottom.service-3{
		margin-top: 65px;
	}
}
@media (min-width: 767px){
	.menu{ 
		ul{
			display: block !important;
		}
	}
}