@media (max-width: 881px){
	.why__text{
		min-height: 130px;
	}
}

@media (max-width: 840px){
	.slider__text {
		font-size: 17px;
		padding-left: 45px;
		padding-right: 45px;
	}
}

@media (max-width: 801px){
	.latest__name {
		letter-spacing: 0px;
	}
}

@media (max-width: 768px){
	.menu ul{
		display: none;
		position: absolute;
		top: 75px;
		left: 0;
		right: 0;
		text-align: center;
		background-color: #ccc;
	}
	.menu li{
		display: block;
	}	
	.menu li+li{
		padding-left: 0;
	}
	.menu a{
		display: block;
		padding: 10px 0;
	}
	.menu__btn{
		display: block;
		border: none;
	}
	.about__text{
		column-count: 1;
		column-gap: 0px;
	}
	.tabs__wrapper .tab{
		width: 33.333%;
	}
	.looking__monitor img {
    	display: none;
	}
	.portfolio__container a{
		width: 50%;
	}
	.why__text {
		text-align: center;
	}
	.latest__wrapper{
		text-align: center;
	}
	.latest__link a::after {
		margin-left: -6px;
	}
	.latest__date {
		letter-spacing: 3px;
	}
	.latest__btn{
		margin-bottom: 30px;
		float: right;
	}
}

@media (max-width: 740px){
	.slider__text {
		padding-left: 65px;
		padding-right: 65px;
	}
}

@media (max-width: 718px){
	.portfolio__btn button {
    	margin: 0 25px;
	}
}

@media (max-width: 640px){
	.top__title{
		letter-spacing: 20px;
	}
	.about {
    	padding-top: 100px;
    	padding-bottom: 100px;
	}
	.services {
    	padding-top: 100px;
    	padding-bottom: 100px;
	}
	.services__title {
    	margin-bottom: 100px;
	}
	.looking__monitor{
    	display: none;
	}
	.looking__wrapper {
    	padding-top: 100px;
    	padding-bottom: 100px;
    	text-align: center;
	}
	.portfolio {
    	padding-top: 100px;
	}
	.why {
    	padding-top: 100px;
    	padding-bottom: 100px;
	}
	.why__icon-name {
		letter-spacing: 3px;
	}
	.latest {
    	padding-top: 100px;
    	padding-bottom: 100px;
	}
	.contact {
    	padding: 100px 0px 100px;
    }
	.info-item::after {
    	top: -30px;
    	left: 96px;
	}
	.info-item::before {
    	top: -30px;
    	left: 90px;
	}
	.contact__info-item:nth-child(2) .info-item::after {
    	left: 97px;
	}
	.contact__info-item:nth-child(3) .info-item::after {
        left: 95px;
	}
	.info-item {
   		text-align: center;
   		padding-left: 0px;
	}
	.map iframe {
    	height: 300px;
	}
	.map__bg.active {
    	top: 200px;
    	bottom: 0px;
	}
	.footer {
    	padding-top: 100px;
	}
}	

@media (max-width: 638px){
 	.portfolio__btn button {
    	margin: 0 auto;
    	display: block;
    	padding: 10px 0;
    	letter-spacing: 5px;
		font-size: 18px;
	}
}

@media (max-width: 600px){
	.tabs__wrapper .tab::before{
		content: none;
	}
	.tabs__wrapper .tab:nth-child(2)::before {
    content: none;
	}
	.tabs__wrapper .tab:nth-child(3)::before {
    content: none;;
	}
	.tabs__wrapper .tab:nth-child(4)::before {
    content: none;;
	}	
	.tabs__wrapper .tab:nth-child(5)::before {
    content: none;;
	}
	.tab{
		padding: 0;
	}
	.tabs__wrapper .tab{
		width: 50%;
		padding-bottom: 20px;
	}
	.about__prew-text{
		margin-top: 50px;
	}
	.info-item::after {
    	top: -30px;
    	left: 86px;
	}
	.info-item::before {
    	top: -30px;
    	left: 80px;
	}
	.contact__info-item:nth-child(2) .info-item::after {
    	left: 87px;
	}
	.contact__info-item:nth-child(3) .info-item::after {
        left: 85px;
	}
}

@media (max-width: 560px){
	.info-item {
    	padding-left: 60px;
    	margin-bottom: 30px;
	}
	.info-item::after {
    	top: 20px;
    	left: 82px;
	}
	.info-item::before {
    	top: 20px;
    	left: 75px;
	}
	.contact__info-item:nth-child(2) .info-item::after {
    	left: 83px;
	}
	.contact__info-item:nth-child(3) .info-item::after {
        left: 80px;
	}
	.contact__info {
    	margin-bottom: 50px;
	}
	.contact__info-item {
		width: 100%;
	}
}

@media (max-width: 540px){
	.top__title {
		padding-left: 25px;
}

@media (max-width: 490px){
	.top__title{
		letter-spacing: 15px;
	}
	.top__text {
    	font-size: 16px;
	}
	.to-go {
		left: 10px;
	}
	.about__prew-text {
    	font-size: 20px;
    	line-height: 30px;
    }
	.portfolio__container a{
		width: 100%;
	}
	.why__icon {
   		margin-top: 60px;
	}
	.latest {
    	padding-bottom: 70px;
	}
	.map__bg.active {
    	top: 270px;
    	bottom: 8px;
	}
	.map__bg.active span {
    	top: 55%;
	}
	.map__bg.active span::after {
		display: none;
	}
	.map__bg.active span::before {
		display: none;
	}
}

@media (max-width: 480px){
	.slider__text {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 455px){
	.stay__title {
		letter-spacing: 2px;
	}
	.stay-left, .stay-right {
    	float: none;
    	margin-bottom: 10px;
    }
	.stay-left input {
    	width: 100%;
    }
    .stay-right {
    	text-align: center;
    }
    .stay-text::before {
    	left: 55px;
    	top: 41px;
    }
    .stay-text {
    	padding-left: 10px;
    	padding-top: 40px;
    }	
}

@media (max-width: 430px){
	.stay-text::before {
    	left: 50px;
    }
}

@media (max-width: 425px){
	.top__title{
		line-height: 35px;
	}
	.tabs__wrapper .tab {
    	letter-spacing: 0px;
	}
	.stay-text::before {
    	left: 45px;
    }
}
@media (max-width: 414px){
	.top__title {
		line-height: 35px;
	}
	.portfolio__container a{
		width: 100%;
	}
	.stay-text {
    	font-size: 12px;
    	padding-left: 20px;
	}
	.stay-text::before {
    	left: 65px;
	}	
}

@media (max-width: 400px){
	.stay-text::before {
    	left: 60px;
	}	
}	
@media (max-width: 390px){
	.top__text {
    	font-size: 15px;
	}
	.latest__title {
		float: none;
		margin-bottom: 15px;
		padding-right: 23px;
	}
	.latest__link {
		float: none;
	}
	.stay-text::before {
    	left: 55px;
	}	
}

@media (max-width: 380px){
	.stay-text::before {
    	left: 50px;
	}	
}

@media (max-width: 370px){
	.stay-text::before {
    	left: 45px;
	}	
}

@media (max-width: 365px){
	.top__text {
    	font-size: 14px;
	}
}

@media (max-width: 360px){
	.stay-text::before {
    	left: 40px;
	}
		.info-item::before {
		left: 65px;
	}
	.info-item::after {
		left: 72px;
	}
	.contact__info-item:nth-child(2) .info-item::after {
    	left: 73px;
	}
	.contact__info-item:nth-child(3) .info-item::after {
        left: 70px;
	}
	.contact__form input[type="submit"] {
		letter-spacing: 0px;
	}	
}

@media (max-width: 350px){
	.stay-text::before {
    	left: 35px;
	}	
}

@media (max-width: 340px){
	.top__text {
    	font-size: 14px;
    	letter-spacing: 1px;
	}
	.tabs__wrapper .tab {
    	width: 50%;
	}
	.stay-text::before {
    	left: 30px;
	}	
}

@media (max-width: 330px){
	.stay-text::before {
    	left: 25px;
	}	
	.info-item::before {
		left: 60px;
	}
	.info-item::after {
		left: 67px;
	}
	.contact__info-item:nth-child(2) .info-item::after {
    	left: 68px;
	}
	.contact__info-item:nth-child(3) .info-item::after {
        left: 65px;
	}
	.contact__form input[type="submit"] {
		padding: 4px 20px 4px 15px;
	}
}

@media (max-width: 320px){
	.top__text {
    	font-size: 14px;
	}
	.stay-text::before {
    	left: 25px;
	}	
	.up {
		right: 25px;
	}
}	

@media (min-width: 768px){
  	.menu ul{
    display: block !important;
  	}
}