@font-face{

font-family: 'PFDinTextCondPro';

src: url('../fonts/PFDinTextCondPro-Thin.ttf') format('truetype');

font-weight: thin;

font-style: normal;

}

@font-face{

font-family: 'PFDinTextCondPro';

src: url('../fonts/PFDinTextCondPro-Light.ttf') format('truetype');

font-weight: 300;

font-style: normal;

}

@font-face{

font-family: 'PFDinTextCondPro';

src: url('../fonts/PFDinTextCondPro-Regular.ttf') format('truetype');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'PFDinTextCondPro';

src: url('../fonts/PFDinTextCondPro-Medium.ttf') format('truetype');

font-weight: medium;

font-style: normal;

}

@font-face{

font-family: 'PFDinTextCondPro';

src: url('../fonts/PFDinTextCondPro-Bold.ttf') format('truetype');

font-weight: bold;

font-style: normal;

}